---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';

const seo = {
	title: 'Sobre | Lab Ótica',
	description: 'Sobre a empresa',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Sobre Nós</h1>
			<p>
				A LAB Ótica é fruto da experiência de mais de 30 anos dos seus fundares,  tendo gerenciado e expandido uma famosa rede de óticas pelo Brasil. 
				


			</p>
		</div>
    <picture slot="image-container">
      <img
        src="/assets/images/lab_otica_sobre.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>
  <TextSection narrow>
    <p>
 A proposta da LAB é entregar os óculos prontos no menor tempo possível, muitas vezes, em menos de 10 minutos.  Por termos laboratório próprio, é possível entregar essa conveniência aos nossos clientes. 

    </p>
    <p>
    Além desse grande diferencial da entrega mais rápida do setor, a LAB só trabalha com produtos dos mais elevados níveis de qualidade, oferecendo lentes e armações das melhores marcas, com garantia internacional. 
Somos a maior estrutura em óticas do Nordeste em área de loja e disponibilizamos um espaço Kids para diversão dos seus filhos enquanto você é atendido por nossos especialistas.
   Venha nos conhecer!
   </p>
    








  </TextSection>
</Layout>
