---
import { SkipLink } from '@littlesticks/odyssey-theme-components';
import BaseHead from '../components/head/BaseHead.astro';
import type { Props as BaseHeadProps } from '../components/head/BaseHead.astro';

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html lang="pt-br">
	<head>
		<BaseHead {...seo} />
	</head>
	<body>
		<SkipLink />
    <slot name="announcement-bar" />
		<slot name="header" />
		<main id="content">
			<slot />
		</main>
		<slot name="footer" />
	</body>
        <script type="text/javascript" async src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/3ee3919b-daab-4417-9510-19e82e66f397-loader.js" ></script>
</html>
